:root {
    --font-family: "Manrope", sans-serif;
    
    --primary-color: #020a0a;
    --secondary-color: #787878;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    button {
        cursor: pointer;
    }
    
    * {
        box-sizing: border-box;
    }

    .container {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        .right-box {
            min-width: 489px;
            max-height: 600px;
            border-radius: 25px;
            box-shadow: 1px 1px 20px 1px rgba(12,12,12,0.2);;
            padding: 32px;

            .product-info {
                h1 {
                    font-size: 24px;
                    margin: 0;
                    color: var(--primary-color);
                    margin-bottom: 8px;
                }
                p {
                    margin: 0;
                    margin-bottom: 24px;
                }
                border-bottom: 1px solid #E6E6E6;
                margin-bottom: 24px;
            }

            .sauces-summary {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 12px;
                span {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 140%;
                    color: var(--primary-color);
                }

                .summary-details {
                    span {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }

            .sauces {
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin-bottom: 65px;
                .sauce {
                    display: flex;
                    justify-content: space-between;
                    padding: 12px;
                    border-radius: 5px;
                    background: #f6f7f8;
                    color: var(--primary-color);
                    font-weight: 400;
                    .sauce-price {
                        margin-left: 8px;
                        color: var(--secondary-color);
                    }

                    div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 8px;
                        button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0;
                            width: 24px;
                            height: 24px;
                            background: transparent;
                            border: none;
                            font-size: 24px;
                        }

                        .quantity {
                            width: 32px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }

            .add-to-cart {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    font-size: 32px;
                    font-weight: 700;
                }
                button {
                    padding: 20px 24px;
                    border-radius: 100px;
                    border: none;
                    width: 176px;
                    background: #de341d;
                    color: #fff;
                    font-family: var(--font-family);
                    font-size: 18px;
                    line-height: 140%;
                    font-weight: 500;
                }
            }
        }
    }
}
